.gpa-container {
    margin: 50px;
    box-sizing: border-box;
    max-width: 800px;
    border: 5px solid black;
    border-radius: 50px;
    padding: 50px;
}

.gpa-container>p {
    text-align: justify;
}

.add-course-fields {
    min-height: 120px;
    min-width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-course-fields {

    input,
    select {
        height: 40px;
        font-size: 0.9rem;
    }
}

.add-course-fields input {
    width: 300px;
    padding-left: 12px;
}

.add-course-fields select {
    width: 50px;
}

.course-details {
    margin: 40px 0 40px 0;
    border: none;
    border-radius: 20px;
    background-color: #3B3B3B;
    font-weight: bold;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.course-details p {
    font-weight: 400;
}

.delete-button {
    cursor: pointer;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #EC6068;
}

/* CSS Related to instructions section */

.instructions p {
    text-align: justify;
}

.instructions ol {
    text-align: justify;
    padding: 30px;
    margin: 10px;
}

.instructions ol>li {
    margin-top: 10px;
}