.gpa-container {
    box-sizing: border-box;
    max-width: 800px;
    border: 5px solid black;
    border-radius: 50px;
    padding: 50px;
}

.add-course-fields {
    min-height: 120px;
    min-width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-course-fields {
    input,
    select {
        height: 30px;
    }
}

.add-course-fields input {
    width: 200px;
}

.add-course-fields select {
    width: 50px;
}